.button {
  width: 320px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-width: 0px;
  margin-bottom: 35px;
}

.button:hover {
  background-color: rgb(255, 108, 10);
  transition: all 0.3s linear;
}

.reports {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-image: url('./img/bar_chart-24px.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
