.button,
.disable {
  width: 280px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  border-width: 0px;
  background-color: inherit;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.button:hover {
  background-color: rgb(255, 108, 10);
  transition: all 0.3s linear;
}

.button:hover svg {
  transition: all 0.3s linear;
  fill: #fff;
}

.button:hover .text {
  transition: all 0.3s linear;
  color: #fff;
}

svg {
  fill: #52555f;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.text {
  padding-bottom: 2px;
  font-size: 13px;
  font: 'Roboto';
  font-weight: normal;
  color: #52555f;
}

.disable {
  background-color: rgb(136, 136, 136);
}

@media (max-width: 767px) {
  .button,
  .disable {
    margin-bottom: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .button,
  .disable {
    width: auto;
    height: 45px;
  }
}

@media (min-width: 992px) {
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .button,
  .disable {
    width: 150px;
    height: 45px;
  }

  .disable {
    background-color: rgb(255, 255, 255);
  }
}
