.link {
  width: 280px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  border-width: 0px;
  text-decoration: none;
}

.link:hover {
  background-color: rgb(255, 108, 10);
  transition: all 0.3s linear;
}

.link:hover svg,
.link:hover .text {
  transition: all 0.3s linear;
  fill: rgb(255, 108, 10);
  color: rgb(255, 108, 10);
}

svg {
  fill: #52555f;
}

.container {
  width: 148px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.text {
  font-size: 13px;
  color: #52555f;
  font-family: 'Roboto';
  font-weight: 400;
}
