.container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 200px;
  max-width: 100%;
  height: 100%;
  min-height: 200px;
  position: relative;
}
@keyframes loader__spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(250deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  to {
    stroke-dashoffset: 800;
  }
}
.loader__spin {
  position: absolute;
  z-index: 1;
  /* background: red; */
  width: 140px;
  height: 140px;
  border-top: 5px solid rgba(68, 64, 64, 0.404);
  border-radius: 50%;
  animation-name: loader__spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loader {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  fill: none;
  stroke: rgba(68, 64, 64, 0.404);
  stroke-width: 4px;
  stroke-miterlimit: 10px;
  stroke-dasharray: 400;
  animation-name: loader;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
