@import '../../CSS/fonts.css';

.Container {
  position: absolute;
  width: 280px;
  min-height: 80px;
  display: flex;
  align-items: center;
  right: 10px;
  top: 10px;
  background-color: #173563;
  border-radius: 20px;
  padding: 0 10px;
}

.Text {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  text-align: center;
  line-height: 1.5;
}
