.Wrapper {
  display: flex;
  flex-direction: column;
}

.Form {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.ExpensesListContainer {

  display: flex;
  justify-content: space-between;
}

.ExpensesList {
  width: 760px;
}

.MonthSummary {
  /* display: inline-block; */
  /* width: 230px; */
}