input {
  background: transparent;
  word-wrap: break-word;
  text-overflow: ellipsis;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.descriptionInput:disabled {
  background-color: #fafafc;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.amountInputWrapper {
  position: relative;
  width: 180px;
  margin: 0 auto;
}

.descriptionInput {
  padding: 0 15px;
  margin: 0 auto;
  outline: none;
  border-right: none;
  border-top-left-radius: 10px;
  height: 49px;
  display: block;
  width: 80%;
  border: 2px solid #fff;
  border-radius: 12px 12px 12px 0;
}

.amountInput {
  padding: 15px;
  padding-right: 58px;
  border: 2px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  width: 180px;
  background-color: transparent;
  display: block;
  border-radius: 17px;
  margin: 30px auto 0;
  text-align: center;
}

.iconCalculator {
  background-image: url(./iconcalculator.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 140px;
  transform: translateY(-50%);
}

.descriptionInputWrapper {
  display: inline-block;
}

.descriptionInput::placeholder {
  width: 100%;
  display: block;
  white-space: pre-line;
  text-align: left;
  font-size: 13px;
  color: #9a9a9b;
}

.amountInputWrapper::after {
  width: 2px;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 122px;
  background-color: #fff;
}

.amountInput::placeholder {
  font-size: 15px;
  font-weight: 600;
  line-height: 45px;
  color: #000;
}

.descriptionInputWrapper {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.form_Desktop {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  height: 46px;
}
.form_Tablet {
  display: flex;
  flex-wrap: wrap;
  width: 625px;
  justify-content: center;
  height: 123px;
}

.inputWrapper {
  display: flex;
  width: 600px;
  position: relative;
}
.inputWrapperTablet {
  display: flex;
  width: 496px;
  position: relative;
}

.descriptionInput_Desktop {
  height: 100%;
  border: #f4f6fb 2px solid;
  background-color: transparent;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  composes: descriptionInput;
  max-width: 470px;
}

.amountInput_Desktop {
  height: 100%;
  margin-top: 0;
  border: #f4f6fb 2px solid;
  background-color: transparent;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  composes: amountInput;
}

.amountInputWrapper_Desktop {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.amountInputWrapper_Desktop::after {
  background-color: #f4f6fb;
  width: 2px;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.amountInput::placeholder {
  font-size: 15px;
  font-weight: 600;
  line-height: 45px;
  color: #000;
}

.descriptionInputWrapper {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.descriptionInput_Desktop {
  width: 100%;
  height: 100%;
  border: #f4f6fb 2px solid;
  background-color: transparent;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  composes: descriptionInput;
}

.amountInput_Desktop {
  height: 100%;
  margin-top: 0;
  border: #f4f6fb 2px solid;
  background-color: transparent;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  composes: amountInput;
}

.amountInput_Desktop::placeholder {
  color: #c7ccdc;
}

.descriptionInput_Desktop::placeholder {
  color: #c7ccdc;
  font-size: 15px;
  font-weight: 600;
  line-height: 45px;
  position: static;
}

.expensesDataList {
  width: 100%;
  padding-top: 10px;
  border: 2px solid #f4f6fb;
  overflow-y: scroll;
  height: fit-content;
  max-height: 400px;
  background-color: #fff;
  position: absolute;
  z-index: 111111;
  left: 0;
  top: 44px;
  box-shadow: 7px 12.124px 65px 0px rgba(179, 185, 200, 0.25);
}
.expensesDataList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f97a2c;
}
.expensesDataList:-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #000000;
}
.expensesDataList::-webkit-scrollbar {
  width: 6px;
  background-color: inherit;
}
.expensesOption {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  font-size: 13px;
  font-family: 'Roboto';
  color: #c7ccdc;
  font-weight: bold;
  line-height: 3.462;
  cursor: pointer;
  transition: all linear 200ms;
}
.expensesOptionMobile {
  composes: expensesOption;
  font-size: 11px;
  padding: 0 12px;
}

.expensesOption:hover {
  background-color: #f4f6fb;
}

.expensesOption:hover .categoryName {
  color: #000;
}

.expensesOption:hover .productName {
  color: #000;
}
.actionButton {
  width: 275px;
  margin: 26px auto 0 50px;
}

.desktop_actionButton {
  margin: 0;
  margin-left: 40px;
}

.categoryName {
  text-transform: uppercase;
  font-size: 10px;
  transition: all linear 200ms;
  font-weight: normal;
  pointer-events: none;
}
.categoryNameMobile {
  composes: categoryName;
  font-size: 7px;
}
.productName {
  transition: all linear 200ms;
  pointer-events: none;
}

.buttons {
  max-width: 272px;
  margin: 90px auto 0;
}
.buttonsTablet {
  max-width: 272px;
  padding-top: 30px;
}

.Mobile_expensesDataList {
  composes: expensesDataList;
  position: static;
  width: 80%;
  margin: 0 auto;
}

.DatePickerDesktop {
  height: 46px;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}
.DatePickerTablet {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}

.DatePickerMobile {
  composes: DatePickerDesktop;
  margin: 0 auto;
}
