.AuthPage_mobile {
  width: 304px;
  padding: 70px 0;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.AuthPage_tablet {
  composes: AuthPage_mobile;
  width: 420px;
  padding: 90px 0;
}

.AuthPage_desktop {
  composes: AuthPage_mobile;
  width: 950px;
  padding: 110px 0;
}
