.BudgetSummaryContainerDekstop,
.BudgetSummaryContainerTablet,
.BudgetSummaryContainerMobile {
  margin: 0 auto;
}

.BudgetSummaryContainerDekstop {
  width: 943px;
}

.BudgetSummaryContainerTablet {
  width: 689px;
}

.BudgetSummaryContainerMobile {
  width: 278px;
}

.boxTotalMonthTablet {
  display: flex;
  align-items: center;
}

.boxTotalMonthTablet .MonthPicker {
  order: 1;
}
