.button {
  width: 122px;
  height: 40px;
  border-radius: 20px;
  background-color: #f5f7fa;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Roboto';
  text-align: center;
  color: black;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 0;
  outline: none;
}

.button:hover {
  border: 2px solid #ff812d;
  transition: all 0.3s linear;
}

.google {
  width: 24px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-image: url('./img/google.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  width: 78px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
