.Button {
  width: 118px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  border: solid 2px rgb(245, 247, 250);
  box-shadow: 1px 1.732px 3px 0px rgba(170, 178, 197, 0.29);
  background-color: rgb(245, 247, 250);
}

.Button:hover {
  border: 2px rgb(244, 246, 251) solid;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s linear;
}

.Container {
  width: 74px;
  display: flex;
  justify-content: space-between;
}

.GoogleImage {
  width: 24px;
  height: 24px;
  background-image: url('./img/googleImage.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.GoogleName {
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(0, 0, 0);
  line-height: 1.643;
  text-align: left;
}
