.container {
  width: 100%;
  min-width: 240px;
  max-width: 320px;
  padding: 20px 60px 30px;
  text-transform: uppercase;
}

.title {
  text-align: center;
  font-weight: 700;
}

.list {
  padding-top: 30px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}