.canvas {
  width: 280px;
  height: 520px;
}
@media (min-width: 767px) {
  .canvas {
    width: 700px;
    height: 420px;
  }
}

@media (min-width: 1280px) {
  .canvas {
    width: 760px;
    height: 430px;
  }
}
