.section {
  width: 320px;
  height: 560px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
@media (min-width: 767px) {
  .section {
    width: 690px;
    height: 420px;
    padding: 8px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 7px 12.5px 12.5px rgba(179, 185, 200, 0.25);
    position: relative;
    z-index: 111;
    background-color: #fff;
  }
}

@media (min-width: 1279px) {
  .section {
    width: 942px;
    height: 430px;
  }
}
