.containerButton {
  width: 321px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1px 0 1px;
  position: fixed;
  bottom: 1px;
}

.additionalButton {
  width: 158px;
  height: 55px;
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.additionalButton:hover {
  border: none;
  background-color: rgb(255, 108, 10);
}
