.ContainerButton {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1px 0 1px;
  bottom: 1px;
}

.RateButton,
.IncomeButton {
  width: 138px;
  height: 53px;
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s linear;
}

.RateButton:hover,
.IncomeButton:hover {
  border: none;
  background-color: rgb(255, 108, 10);
  color: #fff;
  transition: all 0.3s linear;
}

.disable {
  background-color: rgb(136, 136, 136);
  width: 138px;
  height: 53px;
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 767px) and (max-width: 991px) {
  .ContainerButton {
    justify-content: flex-start;
  }

  .RateButton,
  .IncomeButton,
  .disable {
    width: 130x;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
