.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid transparent;
  color: #000000;
  background: #fafafc;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}
.mobileLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 53px;
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  transition: all, 0.3s;
  text-align: center;
  text-transform: uppercase;
  background-image: url(./textures/pinstripe-dark.png);
  border: 2px #f4f6fb solid;
  border-radius: 10px;
}
.activelink {
  z-index: 2;
  composes: link;
  color: #fa7c2e;
  background: #ffffff;
}

.link:last-child {
  margin-left: -10px;
}
