.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.setBalancePageWrapper {
  border-radius: 0px 0px 0px 90px;
  background-color: #f3f9ff;
  padding-bottom: 20px;
}
