.MainPageContainerDekstop,
.MainPageContainerTablet,
.MainPageContainerMobile {
  margin: 0 auto;
}

.MainPageContainerDekstop {
  width: 1092px;
}

.MainPageContainerTablet {
  width: 690px;
}

.MainPageContainerMobile {
  width: 278px;
}

.mainWrapper {
  background-color: #f3f9ff;
  height: 520px;
  border-radius: 0px 0px 0px 90px;
  padding-top: 20px;
  background-image: url(./textures/tex2res5.png);
}
