.ProjectTitle_mobile {
  width: 304px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 40px;
  letter-spacing: 2px;
}

.ProjectTitle_tablet {
  composes: ProjectTitle_mobile;
  width: 420px;
}

.ProjectTitle_desktop {
  composes: ProjectTitle_tablet;
  width: 420px;
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
}

.Kapusta_mobile {
  font-family: 'Roboto';
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 120%;
  font-size: 50px;
  padding-left: 29px;
}

.Kapusta_tablet {
  composes: Kapusta_mobile;
  padding-left: 0;
  font-size: 75px;
}

.Kapusta_desktop {
  composes: Kapusta_tablet;
  font-size: 102px;
}

.SmartFinance_mobile {
  font-family: 'Roboto';
  color: rgb(82, 85, 95);
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 190%;
  padding-left: 43px;
}

.SmartFinance_tablet {
  composes: SmartFinance_mobile;
  font-size: 15px;
  line-height: 150%;
  padding-left: 36px;
}

.SmartFinance_desktop {
  composes: SmartFinance_tablet;
  letter-spacing: 4px;
  padding-left: 68px;
}

.KapustaSign_mobile {
  display: inline-block;
}

.KapustaSign_mobile::before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgb(0, 1, 7);
  width: 4px;
  height: 5px;
  margin-top: 16px;
  margin-left: 11px;
}

.KapustaSign_mobile::after {
  content: '';
  display: block;
  position: absolute;
  background-color: rgb(0, 1, 7);
  width: 4px;
  height: 5px;
  margin-top: -12px;
  margin-left: 11px;
}

.KapustaSign_tablet {
  composes: KapustaSign_mobile;
}

.KapustaSign_tablet::before {
  width: 8px;
  height: 11px;
  background-color: rgb(0, 0, 0);
  margin-top: 22px;
  margin-left: 16px;
}

.KapustaSign_tablet::after {
  width: 8px;
  height: 11px;
  background-color: rgb(0, 0, 0);
  margin-top: -21px;
  margin-left: 16px;
}

.KapustaSign_desktop {
  composes: KapustaSign_mobile;
}

.KapustaSign_desktop::before {
  width: 8px;
  height: 11px;
  background-color: rgb(0, 0, 0);
  margin-top: 32px;
  margin-left: 22px;
}

.KapustaSign_desktop::after {
  width: 8px;
  height: 11px;
  background-color: rgb(0, 0, 0);
  margin-top: -26px;
  margin-left: 22px;
}
