.header {
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 90px;
  height: 30px;
}

.rightBar {
  display: flex;
  justify-content: space-between;

}

.Desktop_container {
  composes: header;
  padding-left: 36px;
  padding-right: 62px;
}

.Tablet_container {
  composes: header;
  padding-left: 20px;
  padding-right: 20px;
}
