.containerSetIncomePageMobile {
  margin: 0 auto;
  background-color: #f4f6fb;
  height: 256px;
  border-bottom-left-radius: 100px;
  padding: 20px;
}

.goBackButtonInSetIncomePageMobile {
  width: fit-content;
}

.actionButtonInSetIncomePageMobile {
  margin: 0 auto;
  width: min-content;
  padding-top: 30px;
}
