.react-datepicker {
  z-index: 9;
  font-family: 'Roboto', sans-serif;
  font-size: 0.72rem;
  color: #52555f;
  /* border: 1px solid #000; */
  border-radius: 14px;
  filter: drop-shadow(4.5px 7.794px 10.5px rgba(170, 178, 197, 0.78));
  background-color: #ffffff;
  display: inline-block;
  position: relative;
}
.react-datepicker__day--selected {
  background: #fb7c2e;
}
.react-datepicker__header {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.react-datepicker {
  color: #52555f;
  /* transform: translateX(-25%); */
}
