html * {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*::before,
*::after {
  box-sizing: inherit;
  font-family: Roboto, sans-serif;
}
button {
  cursor: pointer;
  outline: none;
  font-size: 11px;
  font-family: 'Roboto';
  transition: all 0s linear;
}
