.FormInputs {
  width: 272px;
  margin: 0 auto;
  padding-top: 16px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
}

.Label {
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 3;
}

.Input {
  width: 100%;
  height: 50px;
  padding-left: 24px;
  border: 2px rgb(244, 246, 251) solid;
  border-radius: 25px;
  background-color: rgb(245, 247, 250);
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgb(166, 171, 185);
  line-height: 2.1;
}

.Input::placeholder {
  color: rgb(166, 171, 185);
}