.formWrapper {
  margin: 0 auto;
  background-color: #f3f9ff;
  height: 256px;
  border-bottom-left-radius: 110px;
  background-image: url(./textures/tex2res5.png);
}
.buttons {
  margin: 0 auto;
  width: fit-content;
}
.goBackButton {
  width: fit-content;
  color: blue;
  padding: 18px 20px;
}
.formContent {
  margin-bottom: 80px;
}
