.section {
  background-color: #fff;
  width: 690px;
  padding: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 4.5px 7.794px 10.5px rgba(170, 178, 197, 0.78);
}

.D_section {
  composes: section;
  width: 1090px;
}

.head {
  position: relative;
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}

.DatePicker {
  height: 46px;
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}

.ExpensesSection {
  width: 490;
  display: flex;
  flex-direction: column;
}

.D_ExpensesSection {
  composes: ExpensesSection;
  width: 1090px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ExpensesForm {
  width: 500px;
}

.D_ExpensesForm {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.D_main {
  display: flex;
}

.ExpensesList {
  width: 500px;
}

.D_ExpensesList {
  width: 764px;
}

.MonthSummary {
  padding-top: 30px;
}

.D_MonthSummary {
  padding-left: 30px;
}
