.container {
  max-width: 640px;
  margin: 0 auto;
}

.form {
  width: 602px;
  position: relative;
}

.descriptionInput {
  padding: 15px;
  margin: 0;
  outline: none;
  border: 2px solid #c7ccdc;
  border-right: none;
  border-top-left-radius: 10px;
  width: 475px;

}

.amountInput {
  padding: 15px;
  margin: 0;
  border: 2px solid #c7ccdc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  width: 125px;

}

.iconCalculator {
  background-image: url(./iconcalculator.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 15px;
  left: 555px;
}

.amountInput::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 45px;
  color: #c7ccdc;
}

.placeholder {
  padding: 15px 10px 0px 20px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: 13px;
  line-height: 16px;
  color: #c7ccdc;
  font-family: 'Roboto', sans-serif;
}

.div {
  display: inline-block;
}

/* tablet */

@media (min-width: 768px) and (max-width: 1199px) {
  .form {
    width: 500px;
  }

  .descriptionInput {
    width: 375px;
  }

  .iconCalculator {
    position: absolute;
    top: 14px;
    left: 450px;
  }
}

/* mobile */
@media (max-width: 767px) {

  .container {
    max-width: 280px;
    margin: 0 auto;
  }

  .form {
    padding: 15px 0px 50px;
    width: 280px;
    background-color: #c7ccdc;
    border-bottom-left-radius: 100px;
  }

  .descriptionInput {
    width: 280px;
    border: 2px solid #fff;
    border-radius: 12px 12px 12px 0;
  }

  .amountInput {
    width: 180px;
    border: 2px solid #fff;
    border-radius: 17px;
    margin: 30px 0 0 50px;
    text-align: center;
  }

  .iconCalculator {
    position: absolute;
    top: 108px;
    left: 190px;
    width: 18px;
    height: 19px;
  }

  input[type='text'] {
    background: transparent;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }

  .descriptionInput::placeholder {
    font-size: 13px;
    line-height: 16px;
    color: #9a9a9b;
    text-align: center;
  }

  .amountInput::placeholder {
    font-size: 15px;
    font-weight: 600;
    line-height: 45px;
    color: #000;
  }

  .border::after {
    width: 2px;
    height: 46px;
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    top: 96px;
    left: 170px;
  }

  .div {
    position: relative
  }

  .placeholder {
    color: #9a9a9b;
    padding: 17px 10px 0px 20px;
  }

}