.mainContainer {
  width: 280px;
  margin: 0 auto;
}

.container {
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
}

.text {
  font-size: 13px;
  font: 'Roboto';
  font-weight: normal;
  color: #52555f;
  margin-bottom: 20px;
  grid-area: text;
}

.reportButton {
  grid-area: button;
}

.form {
  grid-area: form;
  height: 40px;
}

.input {
  position: relative;
  width: 43%;
  height: 100%;
  border-width: 0px;
  border: 0;
  padding: 0;
  font-size: 13px;
  font: 'Roboto';
  color: #000;
  font-weight: bold;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

::-webkit-input-placeholder {
  color: #000;
}

:focus::-webkit-input-placeholder {
  text-indent: 300px;
  transition: text-indent 1s ease;
}

.label {
  position: absolute;
  left: 50px;
}

.button {
  width: 43%;
  padding: 10px;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-width: 0px;
  outline: none;
}

.containerBtn {
  text-transform: uppercase;
  font-size: 11px;
  font: 'Roboto';
  color: #52555f;
  font-weight: 500;
}

.button:hover {
  transition: all 0.3s linear;
  background-color: rgb(255, 108, 10);
}

.button:hover .containerBtn {
  transition: all 0.3s linear;
  color: #fff;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  .mainContainer {
    width: 728px;
  }
  .container {
    width: 688px;
  }

  .container_expenses {
    background-color: #dddddd;
    padding: 32px;
  }

  .actionButton {
    display: flex;
    justify-content: center;
    margin: 26px 0;
  }

  .button:hover {
    transition: all 0.3s linear;
    background-color: rgb(255, 108, 10);
  }

  .text {
    margin: 0;
  }

  .form {
    height: 45px;
  }

  .input {
    width: 50%;
    height: 45px;
  }

  .button {
    width: 40%;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    height: 45px;
  }

  .balance_container {
    display: grid;
    grid-template-columns: 28px 356px 180px;
    grid-template-areas: 'text form button';
    justify-content: end;
    align-items: center;
    margin-bottom: 50px;
  }

  .datePickerExpensesForm_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .mainContainer {
    width: 100%;
  }

  .container {
    width: 1091px;
  }

  .container_expenses {
    background-color: #dddddd;
    padding: 32px;
  }

  .actionButton {
    display: flex;
    justify-content: center;
    margin: 26px 0;
  }

  .button:hover {
    transition: all 0.3s linear;
    background-color: rgb(255, 108, 10);
  }

  .text {
    margin: 0;
  }

  .form {
    height: 45px;
  }

  .input {
    width: 50%;
    height: 45px;
  }

  .button {
    width: 40%;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    height: 45px;
  }

  .container_reportButton {
    display: flex;
    justify-content: flex-end;
  }

  .balance_container {
    display: grid;
    grid-template-columns: 28px 356px 290px;
    grid-template-areas: 'text form button';
    justify-content: end;
    align-items: center;
    margin-bottom: 50px;
  }

  .datePickerExpensesForm_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* MOBILE */

@media (max-width: 767px) {
  .container {
    width: 280px;
  }
}
