.container {
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
}

.text {
  margin-bottom: 20px;
}

.form {
  margin: 0 auto;
  height: 40px;
}

.input {
  position: relative;
  width: 160px;
  height: 100%;
  border-width: 0px;
  border: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  outline: none;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: #747474;
}

:focus::-webkit-input-placeholder {
  text-indent: 300px;
  transition: text-indent 1s ease;
}

.label {
  position: absolute;
  left: 50px;
}

.button {
  width: 160px;
  padding: 10px;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-width: 0px;
  outline: none;
  color: #747474;
}

.button:hover {
  transition: all 0.3s linear;
  background-color: rgb(255, 108, 10);
}

.containerBtn {
  font-size: 12px;
  color: #747474;
  font-weight: bold;
}

.block {
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  background: #0c2448;
  color: #fff;
  width: 80%;
  left: calc(50% - 128px);
  right: 0;
  z-index: 1;
  margin-top: 10px;
}

.block::after,
.block::before {
  content: '';
  position: absolute;
  background: #0c2448e8;
  left: 30px;
  bottom: 55px;
  width: 20px;
  height: 20px;
  z-index: -1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
