.ActionButton {
  width: 266px;
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
}

.FirstButton {
  width: 125px;
  height: 45px;
  border: 2px rgba(244, 246, 251, 0) solid;
  border-radius: 16px;
  background-color: rgb(252, 130, 42);
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 2px 2px 5px 0px rgba(255, 107, 8, 0.34);
}

.FirstButton:hover {
  border: none;
  background-color: rgb(255, 108, 10);
}

.SecondButton {
  composes: FirstButton;
  background-color: rgb(244, 246, 251);
  color: rgb(82, 85, 95);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.SignInButton:hover,
.SignUpButton:hover {
  background-color: rgb(252, 130, 42);
  color: rgb(255, 255, 255);
  transition: all 0.3s linear;
}

.SignUpButton {
  composes: SignInButton;
}
