.ActionButton {
  width: 272px;
  padding: 0 2px;
  margin: 38px auto;
  display: flex;
  justify-content: space-between;
}

.SignInButton {
  width: 125px;
  height: 45px;
  border: 2px rgba(244, 246, 251, 0) solid;
  border-radius: 16px;
  background-color: rgb(244, 246, 251);
  font-size: 11px;
  font-family: 'Roboto';
  color: rgb(82, 85, 95);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.SignInButton:hover {
  border: 2px rgb(244, 246, 251) solid;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
}

.SignUpButton {
  composes: SignInButton;
  background-color: rgb(252, 130, 42);
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px 0px rgba(255, 107, 8, 0.34);
}

.SignUpButton:hover {
  border: none;
  background-color: rgb(255, 108, 10);
}
