.containerNotification {
  padding-top: 20px;
  text-align: center;
}

.notification {
  position: relative;
  z-index: 999;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  font-family: 'Roboto';
  padding: 35px;
  background-color: #173563;
  color: white;
  border-radius: 20px;
  margin: 0 auto;
}

.triangle {
  display: block;
  width: 31px;
  height: 31px;
  border: 15px solid transparent;
  position: absolute;
  border-bottom-color: #173563;
  top: -31px;
  left: 49px;
}

.notificationPartOne {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 25px;
  text-align: left;
}

.notificationPartTwo {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: lighter;
  text-align: left;
}

/* DESKTOP */

@media (min-width: 992px) {
  .containerNotification {
    width: 33%;
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    top: 34px;
    transform: translate(-24%);
    z-index: 1;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  .containerNotification {
    width: 300px;
    margin-bottom: 0px;
    position: absolute;
    left: 52%;
    top: 34px;
    transform: translate(-50%);
    z-index: 1;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .containerNotification {
    margin-bottom: 50px;
    width: 100%;
  }
}
