/* first mobile */

.Mobile_scrollbar {
  display: block;
  overflow: auto;
  max-height: 380px;
}

.Mobile_scrollbar::-webkit-scrollbar {
  width: 0;
}

.Mobile_container {
  display: block;
  width: 280px;
  margin: 10px auto 0;
}

.Mobile_expensesList {
  margin: 0;
}

.mobileWrapp {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 8px;
}

.titleItem {
  font-size: 11px;
  font-weight: bold;
  font-style: 'Roboto';
  color: #000000;
  padding: 0 8px;
  text-transform: uppercase;
}

.Mobile_item div:nth-child(4) {
  text-align: right;
}

.Mobile_item {
  grid-template-columns: 140px 115px 20px;
  grid-template-columns: 5fr 4fr 1fr;
  align-items: center;
  display: grid;
  font-size: 13px;
  font-weight: normal;
  font-style: 'Roboto';
  color: #52555f;
  border-bottom: 1px solid #f4f6fb;
  height: 54px;
}

.expenseDateContainer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: bold;
  width: 138px;
}

.expenseDate {
  font-style: 'Roboto';
  color: #8a8c95;
  font-size: 9px;
  font-weight: normal;
  padding-right: 8px;
}
.expenseDescription {
  composes: expenseDate;
  padding-left: 8px;
}
.DexpenseDate {
  composes: expenseDate;
  padding-left: 8px;
}
.expenseDescription {
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expenseCategory {
  font-size: 12px;
  color: #52555f;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 8px;
}

.Mobile_expenseAmount {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e21e31;
  padding: 0 8px;
  font-style: 'Roboto';
}

.btn {
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: all, 0.3s;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 auto;
}
.defBtn {
  composes: btn;
  margin: 0 auto;
  justify-content: center;
}
.btnIcon {
  width: 14px;
  height: 17px;
  background-image: url('./img/deleteIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.defBtn:hover {
  background-color: #f4f6fb;
}

/* TABLET */

.Tablet_scrollbar,
.Desktop_scrollbar {
  display: block;
  overflow: auto;
  height: 388px;
}

.Tablet_scrollbar::-webkit-scrollbar,
.Desktop_scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: inherit;
}

.Tablet_scrollbar::-webkit-scrollbar-track,
.Desktop_scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.Tablet_scrollbar::-webkit-scrollbar-thumb,
.Desktop_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f97a2c;
}

.Tablet_container {
  composes: Mobile_container;
  display: grid;
  width: 625px;
  position: relative;
  overflow: auto;
  padding: 0;
}

/* .Tablet_title div:nth-child(4) {
  padding-left: 40px;
}

.Tablet_title div:nth-child(1) {
  padding-left: 25px;
} */

.Tablet_item {
  composes: Mobile_item;
  /* grid-template-columns: 4fr 3fr 1fr; */
  grid-template-columns: 120px 220px 120px 100px 49px;
  height: 38px;
}

.Tablet_title {
  composes: Tablet_item;
  background-color: #f4f6fb;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.Tablet_item span {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
}

.Tablet_item div:nth-child(1) {
  padding-left: 25px;
}
.Tablet_expenseAmount {
  composes: Mobile_expenseAmount;
  font-size: 13px;
  font-weight: normal;
}

.Tablet_expenseCategory {
  composes: expenseCategory;
  padding-left: 8px;
}

.Tablet_expensesList {
  composes: Mobile_expensesList;
  position: relative;
  /* border-top-left-radius: 16px;
  border-top-right-radius: 16px; */
  border-left: 1px solid #f4f6fb;
  border-right: 1px solid #f4f6fb;
}

/* DESKTOP */

.Desktop_container {
  composes: Tablet_container;
  width: 760px;
}

/* .Desktop_title {
  composes: Tablet_title;
  grid-template-columns: 170px 248px 164px 170px;
} */

.Desktop_item {
  composes: Tablet_item;
  grid-template-columns: 170px 248px 164px 116px 50px;
}
.Desktop_title {
  composes: Desktop_item;
  composes: Tablet_title;
  background-color: #f4f6fb;
}
.Desktop_expenseAmount {
  composes: Tablet_expenseAmount;
}

.Desktop_expensesList {
  composes: Tablet_expensesList;
}
