.wrapper {
  font-size: 13px;
  color: rgb(82, 85, 95);
  font-weight: 600;
  max-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstLetter {
  background-color: #f5f7fa;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: block;
  width: fit-content;
}

.Tablet_container {
  margin-right: 20px;
}
.Desktop_container {
  margin-right: 56px;
}
