.Mobile_section {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 260px;
  background-color: #f4f6fb;
  border: 1px solid transparent;
  border-bottom-left-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Tablet_section {
  composes: Mobile_section;
  height: 510px;
}
.Desktop_section {
  composes: Tablet_section;
  flex-direction: row;
}
